.login-wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #cfd9df 0%, #e2ebf0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
.login-box{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)!important;
}

  .img-container{
      text-align: center;

      label{
          font-size: 1.5rem;
      }


  }