.tool-box {
    max-width: 1200px;
    margin: auto;
    border-bottom: 3px solid #333;
    padding: 2rem 0.2rem 1.5rem 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-text {
      font-size: 2rem;
      color: #333;
      font-weight: 600;
      text-transform: uppercase;
    }
    .search-box {


      .search-input {
        border-color: gray;
        width: 600px;
        outline: 0;
      }

      .button{
        border-color: gray;
      }

    }
    // .cart-box {
    //   cursor: pointer;
    //   display: inline-block;
    //   color: #333;
    //   font-size: 1.2rem;
    //   .cart-num {
    //     margin-left: 4px;
    //   }
    // }
  }