.widget{
    display: flex;
    justify-content: space-between;
    // margin-right: 20px;
    // width: 200px;
    flex: 1;
    padding: 15px;
    margin: 10px;
    // box-shadow:2px 4px 10px 1px rgba(201,201,201, 0.47);
    box-shadow:2px 4px 10px 0px rgba(201,201,201);
    border-radius: 10px;
    height: 110px;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 1.25rem;
            color: black;
        }

        .counter{
            font-size: 28px;
            font-weight: 300;
            color: black;
        }


        .iconColor{
            display: flex;
            align-items: center;
            font-size: 14px;

        }

        // .icon{ ...}


    }
}