.navbar{
    // background-color: whitesmoke !important;
    height: 50px;
    border-bottom:0.5px solid lightgray;
    display: flex;
    align-items: center;
    font-size: 14px;
    color:black;

    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content:flex-end;

        // .search{
        //     display: flex;
        //     align-items: center;
        //     border: 0.5px solid lightgray;
        //     padding: 3px;

        //     input{
        //         border: none;
        //         outline: none;

        //         //轉換主題消除背景色
        //         background: transparent;

        //         &::placeholder{
        //             font-size: 12px;
        //         }
        //     }
        // }

        .items{
            display: flex;
            align-items: center;

            .end{
                display: flex;
                justify-content: space-around;

                .navLink{
                    padding: 10px;
                    font-weight: bold;
                }

                .navProfile{
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    
                    

                    .navProfileIcon{
                        font-size: 20px;
                        margin-right: 5px;
                        
                    }
                }
            }

            .item{
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;

                .icon{
                    font-size: 20px;
                }

                .avatar{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

            }
        }
    }

}